import React, {
  Component
} from 'react';
import './App.css'
import SwaggerUI from 'swagger-ui';
import Config from './orgconfig.json';
import '../node_modules/swagger-ui/dist/swagger-ui.css';

class App extends Component {
  constructor(props) {
    super(props);
    this.state = {
      organizationConfig: null,
      definitionList: null,
      definitionLink: "http://localhost:8080/docs/swagger.json"
    };
  }

  componentWillMount() {
    this.setState({
      organizationConfig: Config.orgData,
    });
  }

  componentDidMount() {
    SwaggerUI({
      enableCORS: true,
      domNode: document.getElementById("api-data"),
      url: this.state.definitionLink
    });
  }

  render() {
    return ( 
    <div className="App">
      <div id="api-data"/>
    </div>
    );
  }
}

export default App;